/* Start Variables */
:root {
  --main-duration: 0.3s;
  --main-color: #fac031;
  --text-grey: #777;
}
/* End Variables */
/* Start Global Rules */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* END global rules */
/* Start Header Section */
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;

  background-color: #fff;
  z-index: 222;
}
@media (max-width: 767px) {
  header .container {
    justify-content: space-between;
    padding: 5px 10px;
  }
}
header .container img {
  width: 80px;
  cursor: pointer;
}
header .container ul {
  width: 35%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 920px) {
  header .container ul {
    width: 45%;
  }
}
@media (max-width: 767px) {
  header .container ul {
    display: none;
  }
}
header .container ul a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  transition: var(--main-duration);
  position: relative;
}
header .container ul a:hover {
  color: var(--main-color);
}
header .container ul a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: var(--main-color);
  transition: var(--main-duration);
}
header .container ul a:hover::before {
  width: 100%;
}
@media (max-width: 767px) {
  header .container .icons {
    display: none;
  }
}
header .container .icons i {
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
  transition: var(--main-duration);
}
header .container .icons i:hover {
  color: var(--main-color);
}
header .container .toggle {
  display: none;
}
@media (max-width: 767px) {
  header .container .toggle {
    display: block;
    cursor: pointer;
  }
  header .container .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  header .container .toggle:hover + ul li {
    width: 100%;
    text-align: center;
  }
  header .container .toggle:hover + ul li:last-child {
    padding-bottom: 5px;
  }
  header .container .toggle:hover + ul li a {
    display: block;
    padding-top: 10px;
    color: #fff;
  }
}
/* End Header Section */

/* Start Main Section */
main .landing {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  position: relative;
}
@media (max-width: 767px) {
  main .landing {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
main .landing .text {
  max-width: 500px;
}
@media (max-width: 767px) {
  main .landing .text {
    text-align: center;
  }
}
main .landing .text h1 {
  font-size: 50px;
  line-height: 0.9;
  margin-bottom: 30px;
}
main .landing .text h1 span {
  color: var(--main-color);
  font-family: mv boli;
  font-size: 60px;
}
main .landing .text p {
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-grey);
}
main .landing img {
  width: 600px;
}
@media (max-width: 1200px) {
  main .landing img {
    width: 500px;
  }
}
@media (max-width: 920px) {
  main .landing img {
    width: 400px;
  }
}
@media (max-width: 767px) {
  main .landing img {
    /* display: none; */
    width: 300px;
  }
}
main .landing button {
  position: absolute;
  left: 0;
  bottom: 40px;
  padding: 10px 30px 10px 10px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 920px) {
  main .landing button {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 920px) {
  main .landing button {
    bottom: -30px;
    font-size: 13px;
  }
}
main .landing button i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3;
}
main .landing button:hover i {
  animation: move 0.5s infinite;
}
@keyframes move {
  0%,
  100% {
    right: 15px;
  }
  50% {
    right: 20px;
  }
}
/* End Main Section */
/* Start about Section */
.about {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  gap: 50px;
  position: relative;
}
@media (max-width: 920px) {
  .about {
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
  }
}
.about .image img {
  width: 700px;
}
@media (max-width: 1024px) {
  .about .image img {
    width: 500px;
  }
}
@media (max-width: 767px) {
  .about .image img {
    width: 350px;
  }
}
.about .txt {
  flex-direction: row-reverse;
  margin-top: 40px;
}
@media (max-width: 920px) {
  .about .txt {
    text-align: center;
    width: 95%;
    margin: auto;
  }
}
.about .txt h2 {
  font-size: 40px;
}
.about .txt h2 span {
  color: var(--main-color);
  font-family: mv boli;
}
.about .txt h3 {
  font-size: 25px;
  margin: 20px 0 20px;
}
.about .txt p {
  font-size: 13px;
  margin: 20px 20px 0 0;
  color: var(--text-grey);
  line-height: 1.6;
}
.about button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: var(--main-duration);
}
@media (max-width: 920px) {
  .about button {
    bottom: -60px;
  }
}
.about button:hover {
  background-color: #000;
}
/* End about Section */

/* Start Menu Section */
.menu {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.menu h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.menu h2 span {
  color: var(--main-color);
  font-family: mv boli;
}
.menu .menu-content {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
@media (min-width: 1300px) {
  .menu .menu-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.menu .box {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  overflow: hidden;
}
.menu .box .item-image {
  overflow: hidden;
  position: relative;
}
.menu .box .item-image img {
  width: 100%;
  height: 200px;
  transition: var(--main-duration);
}
.menu .box .item-image img:hover {
  transform: scale(1.1);
}
.menu .box .item-image i {
  position: absolute;
  right: -20px;
  top: 7px;
  font-size: 20px;
  transition: var(--main-duration);
}
.menu .box .item-image i:hover {
  color: var(--main-color);
}
.menu .box:hover .item-image i {
  right: 7px;
}
.menu .box h4 {
  color: var(--main-color);
  font-size: 20px;
  margin: 10px 0;
}
.menu .box p {
  font-size: 13px;
  color: var(--text-grey);
  margin-bottom: 10px;
}
.menu .box span {
  font-size: 16px;
  font-weight: bold;
}
.menu .box .stars i {
  color: var(--main-color);
  font-size: 13px;
  margin: 10px 0;
}
.menu .box button {
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  border: none;
  transition: var(--main-duration);
}
.menu .box button:hover {
  background-color: #333;
}
/* End Menu Section */

/* Start Gallary Section */
.gallary {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.gallary h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.gallary h2 span {
  color: var(--main-color);
  font-family: mv boli;
}
.gallary .gallary-content {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.gallary .gallary-content .box {
  position: relative;
}
.gallary .gallary-content .box img {
  width: 100%;
  height: 100%;
}
.gallary .gallary-content .box .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 10px;
  opacity: 0;
  overflow: hidden;
  transition: var(--main-duration);
}
.gallary .gallary-content .box:hover .info {
  opacity: 1;
}
.gallary .gallary-content .box .info h3 {
  color: var(--main-color);
  font-family: polo;
  font-size: 24px;
  margin-top: 15px;
}
.gallary .gallary-content .box .info span {
  color: #fff;
  display: block;
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.gallary .gallary-content .box .info a {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  color: #000;
  font-size: 12px;
  background-color: var(--main-color);
  padding: 5px 10px;
  transition: var(--main-duration);
}
.gallary .gallary-content .box:hover a {
  bottom: 30px;
}
/* End Gallary Section */

/* Start Reviews Section*/
.reviews {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.reviews h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.reviews h2 span {
  color: var(--main-color);
  font-family: mv boli;
}
.reviews .reviews-content {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.reviews .reviews-content .box {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.reviews .reviews-content .box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #ccc;
  transition: var(--main-duration);
}
.reviews .reviews-content .box:hover img {
  transform: translateY(-30px);
}
.reviews .reviews-content .box h3 {
  transition: var(--main-duration);
}
.reviews .reviews-content .box:hover h3 {
  transform: translateY(-30px);
}
.reviews .box .stars i {
  color: var(--main-color);
  font-size: 12px;
  margin-bottom: 10px;
  transition: var(--main-duration);
}
.reviews .box:hover .stars i {
  transform: translateY(-20px);
}
.reviews .box .review_social {
  opacity: 0;
  transition: var(--main-duration);
}
.reviews .box:hover .review_social {
  opacity: 1;
  transform: translateY(-20px);
}
.reviews .box .review_social i {
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: var(--main-duration);
}
.reviews .box .review_social i:hover {
  color: var(--main-color);
}
.reviews .box p {
  font-size: 13px;
  line-height: 1.6;
  color: var(--text-grey);
}

/* End Reviews Section*/
/* Start Order Section */
.order {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-image: url(../imgs/bg2.jpg);
  background-size: cover;
}
.order h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.order h2 span {
  color: var(--main-color);
  font-family: mv boli;
}
.order .order-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .order .order-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.order .order-content img {
  width: 500px;
}
@media (max-width: 1024px) {
  .order .order-content img {
    width: 400px;
  }
}
.order .order-content .form {
  flex-basis: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  position: relative;
}
@media (max-width: 767px) {
  .order .order-content .form {
    flex-direction: column;
  }
}
.order .order-content .row {
  margin-bottom: 10px;
  margin-left: 10px;
}
.order .order-content p {
  font-size: 14px;
  margin-bottom: 5px;
}
.order .order-content input {
  width: 250px;
  background-color: #eee;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 10px;
}
.order .order-content input:focus {
  border-color: var(--main-color);
}
.order .order-content input::placeholder {
  font-size: 10px;
}
.order .order-content .form a {
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: #fff;
  font-size: 14px;
  background-color: var(--main-color);
  padding: 10px 20px;
  transition: var(--main-duration);
}
@media (max-width: 1024px) {
  .order .order-content .form a {
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
  }
}
/* End Order Section */

/* Start Team Section */
.team {
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-image: url(../imgs/bg1.jpg);
  background-size: cover;
}
@media (max-width:920px) {
  .team {
    margin-bottom: 120px;
  }
}
@media (max-width:920px) {
  .team {
    margin-bottom: 300px;
  }
}
.team h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.team h2 span {
  color: var(--main-color);
  font-family: mv boli;
}
.team .team-content {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 20px;
  margin-top: 100px;
}
@media (max-width:767px) {
  .team .team-content{
    margin-top: 30px;
  }
}
.team .chef {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: var(--main-duration);
}
@media (max-width: 920px) {
  .team .chef {
    margin: auto;
  }
}
.team .chef:hover {
  border-radius: 15px;
}
.team .chef img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-duration);
  z-index: 22;
}
.team .chef:hover img {
  border-radius: 15px;
  top: 10px;
}
.team .chef .info {
  width: 80%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  transition: var(--main-duration);
}
.team .chef:hover .info {
  top: 50%;
}
.team .chef .info h3 {
  color: var(--main-color);
}
.team .chef .info p {
  font-size: 14px;
  margin: 10px 0;
  color: var(--text-grey);
}
.team .chef .info i {
  font-size: 13px;
  cursor: pointer;
  transition: var(--main-duration);
}
.team .chef .info i:hover {
  color: var(--main-color);
}
/* End Team Section */

/* Start Footer */
footer {
  margin-top: 100px;
}
footer .container {
  padding: 20px 0 ;
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  text-align: center;
}
@media (max-width:767px) {
  footer .container{
    flex-direction: column;
  }
}
footer .container img{
  width: 100px;
}
footer .container h2{
  margin-bottom: 15px;
}
footer .container p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #777;
  transition: var(--main-duration);
  cursor: pointer;
}
footer .container p:hover{
  color: #000;
}
footer .container i{
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
  transition: var(--main-duration);
}
footer .container i:hover{
  color: var(--main-color);
}
/* End Footer */
