/* Start Variables */
:root {
  --main-duration: 0.3s;
  --main-color: #fac031;
  --text-grey: #777;
}
/* End Variables */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* END global rules */
/* Start Header Section */
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}
@media (max-width: 767px) {
  header .container {
    justify-content: space-between;
    padding: 5px 10px;
  }
}
header .container img {
  width: 80px;
  cursor: pointer;
}
header .container ul {
  width: 35%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 920px) {
  header .container ul {
    width: 45%;
  }
}
@media (max-width: 767px) {
  header .container ul {
    display: none;
  }
}
header .container ul a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  transition: var(--main-duration);
  position: relative;
}
header .container ul a:hover {
  color: var(--main-color);
}
header .container ul a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: var(--main-color);
  transition: var(--main-duration);
}
header .container ul a:hover::before {
  width: 100%;
}
@media (max-width: 767px) {
  header .container .icons {
    display: none;
  }
}
header .container .icons i {
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
  transition: var(--main-duration);
}
header .container .icons i:hover {
  color: var(--main-color);
}
header .container .toggle {
  display: none;
}
@media (max-width: 767px) {
  header .container .toggle {
    display: block;
    cursor: pointer;
  }
  header .container .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  header .container .toggle:hover + ul li {
    width: 100%;
    text-align: center;
  }
  header .container .toggle:hover + ul li:last-child {
    padding-bottom: 5px;
  }
  header .container .toggle:hover + ul li a {
    display: block;
    padding-top: 10px;
    color: #fff;
  }
}
/* End Header Section */

/* Start Main Section */
main .landing {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  position: relative;
}
@media (max-width: 767px) {
  main .landing {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
main .landing .text {
  max-width: 500px;
}
@media (max-width: 767px) {
  main .landing .text {
    text-align: center;
  }
}
main .landing .text h1 {
  font-size: 50px;
  line-height: 0.9;
  margin-bottom: 30px;
}
main .landing .text h1 span {
  color: var(--main-color);
  font-family: mv boli;

  font-size: 60px;
}
main .landing .text p {
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-grey);
}
main .landing img {
  width: 600px;
}
@media (max-width: 1200px) {
  main .landing img {
    width: 500px;
  }
}
@media (max-width: 920px) {
  main .landing img {
    width: 400px;
  }
}
@media (max-width: 767px) {
  main .landing img {
    /* display: none; */
    width: 300px;
  }
}
main .landing button {
  position: absolute;
  left: 0;
  bottom: 40px;
  padding: 10px 30px 10px 10px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 920px) {
  main .landing button {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 920px) {
  main .landing button {
    bottom: -30px;
    font-size: 13px;
  }
}
main .landing button i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3;
}
main .landing button:hover i {
  animation: move 0.5s infinite;
}
@keyframes move {
  0%,
  100% {
    right: 15px;
  }
  50% {
    right: 20px;
  }
}
/* End Main Section */
